/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.header {
    background-color: #f04e23;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.logo h1 {
    margin: 0;
}

.menu a {
    color: white;
    text-decoration: none;
    margin-left: 1rem;
}

.search {
    padding: 1rem 2rem;
    background-color: #f4f4f4;
}

.search h2 {
    margin: 0;
}

.categories {
    margin-top: 0.5rem;
}

.filter-btn {
    background-color: #007bff;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
    padding: 2rem;
}

.product-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    padding: 15px;
    /* height: 300px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-card img {
    width: 100%;
    height: auto;
    max-height: 150px;
    object-fit: contain;
}

.product-card h3 {
    font-size: 1.2rem;
    margin: 10px 0;
}

.product-card p {
    color: #f04e23;
    font-weight: bold;
    margin: 5px 0;
}

.product-card button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.product-card button:hover {
    background-color: #0056b3;
}

.rating {
    display: inline-block;
    color: gold;
    font-size: 1rem;
    margin-bottom: 5px;
}