body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
}
.container {
    text-align: center;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.upload-circle {
    width: 100px;
    height: 100px;
    background-color: #007bff;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
    margin: 20px auto;
    overflow: hidden; /* Omogućava da slika ostane unutar kruga */
    position: relative;
}

.upload-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Prilagođava sliku tako da popuni krug */
    position: absolute;
    top: 0;
    left: 0;
}

.upload-circle span {
    position: absolute;
    z-index: 1;
    font-size: 2em;
    color: white;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}
